<template>
    <div class="navbar">
        <p><b>Quiz</b></p>
        <p><b>Counter: {{ numCorrect }} / {{ numTotal }}</b></p>
    </div>
</template>

<script>

export default {
    props: [
        'numCorrect',
        'numTotal'
    ]
}

</script>

<style scoped>
.navbar {
    background: #000;
}
.navbar p {
    color: #fff;
}
</style>