<template>
    <div class="main-container">
        <b-jumbotron>
            <template v-slot:lead>
                {{ currentQuestion.question }}
            </template>

            <hr class="my-4">

            <b-list-group>
                <b-list-group-item  v-for="(answer, index) in shuffledAnswers" 
                v-bind:key="index" 
                v-bind:class="[
                    !answered && selectedIndex === index ? 'selected' :
                    answered && correctIndex === index ? 'correct' :
                    answered && selectedIndex === index && correctIndex !== index ? 'incorrect' : ''
                ]" 
                @click.prevent="selectAnswer(index)">
                    {{ answer }}
                </b-list-group-item>
            </b-list-group>

            <b-button variant="primary" v-on:click="submitAnswer" :disabled="selectedIndex===null || answered">Submit</b-button>
            <b-button variant="success" @click="next" href="#" 
                v-bind:disabled="!answered">
                Next
            </b-button>
        </b-jumbotron>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {
        props: {
            currentQuestion: Object,
            next: Function,
            increment: Function
        },
        data () {
            return {
                selectedIndex: null,
                correctIndex: null,
                shuffledAnswers: [],
                answered: false
            }
        },
        computed: {
            answers () {
                let answers = [...this.currentQuestion.incorrect_answers]
                answers.push(this.currentQuestion.correct_answer)
                return answers
            }
        },
        watch: {
            currentQuestion: {
                immediate: true,
                handler() {
                    this.selectedIndex = null;
                    this.shuffleAnswers();
                    this.answered = false
                }
            }
        },
        methods: {
            selectAnswer(index) {
                this.selectedIndex = index
                console.log(index)
            },
            shuffleAnswers() {
                let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer]
                this.shuffledAnswers = _.shuffle(answers)
                this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)
            },
            submitAnswer() {
                let isCorrect = false
                if (this.selectedIndex === this.correctIndex) {
                    isCorrect = true
                }
                this.answered = true
                this.increment(isCorrect)
                console.log(isCorrect)
            }
        }
    }
</script>

<style scoped>
    .list-group {
        margin-bottom: 15px;
    }
    .list-group-item:hover {
        background: #EEE;
        cursor: pointer;
    }
    .btn {
        margin: 0 5px;
    }
    .selected {
        background-color: lightblue;
    }
    .correct {
        background-color: green;
    }
    .incorrect {
        background-color: red;
    }
    .main-container {
        margin: 20px 0;
    }
    .lead {
        font-size: 18px;
    }
</style>